.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
  }
  
  .nav {
    float: left;
  }
  
  .nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .nav a:hover {
    background-color: #111;
  }
  




header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

.h12{
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 70px;
    border: black;

}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}


/* box-shadow: 10px 5px 5px black; */
body{
  background:#E6EEF6;
}
.wrap{
  margin-left:20px;
}
.box{
  width:18%;
  height:550px;
  float:left;
  background-color:white; 
  margin:25px 15px;
  border-radius:5px;
}
.box h2{
    font-family: 'Muli', sans-serif;
  font-weight:normal;
  text-align:center;
  padding-top:60px;
  font-size: 40px;
  color:#9B7468;
}
.box1{
  background-color: #EBA39E;
}
.box2{
    background-color: #EDE89A;
  }

.box3{
  background-color: #9EEBA1;
}
.box4{
    background-color: #9EEBBF;
  }

.box5{
    background-color: #9ED9EB;
  }



.shadow1, .shadow2, .shadow3,.shadow4,.shadow5,.shadow6,.shadow7,.shadow8{
    position:relative;
  }
  .shadow1,.shadow2,.shadow3,.shadow4,.shadow5,.shadow6,.shadow7,.shadow8{
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  }
  /*****************************************************************dashed border
  ****************************************************************/
  .shadow1 h2, .shadow2 h2, .shadow3 h2, .shadow4 h2, .shadow5 h2, .shadow6 h2, .shadow7 h2, .shadow8 h2{
    width:87%;
    height:100px;
    margin-left:6%;
    /* border:5px dashed #E6EEF6;
    border-radius:5px; */
  }
  
  
  ul {
    text-align: left;
    font-family: 'Inconsolata', monospace;

  }